@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:ital,wght@1,900&display=swap');


:root{
    --main : rgba(83, 177, 201, 0.562);
    --clear: rgb(236, 236, 236);
    --whites : rgba(255,255,255,1);
}

:root.dark-mode{
    --main : rgba(22, 38, 43, 0.877);
    --clear: rgb(19, 19, 19);
    --whites : rgb(175, 174, 159);

    background-color:black;
    color:var(--whites);

    #darkMode::before{
        content: " ";
        display:block;
        background-color:var(--whites);
        height:1rem;
        width:1rem;
        border-radius:1rem;
        margin-left:2.4rem;
        transition:0.2s;
    }

    .townToCheck{
        background-color:var(--clear);
        color:var(--whites);
        caret-color: var(--whites);
    }
    
}

*{
    margin:0;
    padding:0;
    list-style-type:none;
    box-sizing:border-box;
}

body{
background-image:linear-gradient(90deg, var(--main), var(--clear));
font-family:inter;

#darkMode{
position:absolute;
top:1rem;
left:1rem;
appearance:none;
border:0;
height:2rem;
width:4rem;
background-color:var(--main);
border-radius:1rem;
display:flex;
align-items: center;
}

#darkMode::before{
    content: " ";
    display:block;
    background-color:var(--whites);
    height:1rem;
    width:1rem;
    border-radius:1rem;
    margin-left:0.5rem;
    transition:0.2s;
}

header{
    height:50vh;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;

    .ville{
        font-size: 2rem;
        text-transform:uppercase;
        letter-spacing: -0.3rem;
        font-style:italic;
        font-weight:bolder;
        color:var(--whites);
        text-shadow: var(--main) 0.2rem 0.2rem 0;
   
    }

    .ville::before{
        content:" ";
        width:100%;
        border-radius:1rem;
        position:relative;
        left:-15%;
        height:0.5rem;
        background-color: var(--main);
        display:block;
        animation: wigglewigglewiggle 1s infinite alternate-reverse;
    }

    .ville::after{
        content:" ";
        width:100%;
        border-radius:1rem;
        position:relative;
        left:15%;
        height:0.5rem;
        background-color: var(--main);
        display:block;
        animation: wigglewigglewiggle2 1s infinite alternate-reverse;
    }

    .pays{
        background-color:var(--main);
        color:var(--whites);
        padding:0.5em;
        border-radius:0.2rem;
        letter-spacing:0.2em;
    }

    .townToCheck{
        background-color:var(--whites);
        border:0;
        padding:0.5em 1em;
        font-size:2rem;
        border-radius:0.3rem;
        min-width:200px;
        max-width:80vw;
        caret-color:var(--main);
    }

    .forecast__Button{
        background-color: var(--main);
        border:0;
        padding:1rem;
        border-radius:0.3rem;
        color:var(--whites);
        text-transform:uppercase;
    }
}

main{
    display:grid;
    gap:0.5rem;
    grid-template-rows: repeat(auto-fill,1fr);
    padding:1rem;

    article{
        background-image:linear-gradient(180deg, var(--main), transparent);
        border:1px solid #c4c4c44d;
        position:relative;
        border-radius:0.3rem;
        padding:1rem;
        display:grid;
        gap:1rem;
        grid-template-areas: "date date date hour" "temp maxi mini feels" "hum hum press press" "windS windS windO windO" "cloudy cloudy cloudy cloudy";

        .fullDate{
            color:var(--whites);
            text-align:left;
            grid-area: date;
            background-color:var(--main);
            color:var(--whites);
            padding:0.5em;
            border-radius:0.2rem;
            letter-spacing:0.2em;
        }

        .time{
            grid-area:hour;
            text-align:right;
            background-color:var(--main);
            color:var(--whites);
            padding:0.5em;
            border-radius:0.2rem;
            letter-spacing:0.2em;
        }

        .temp,.min,.max,.feels{
            text-align:center;
            display:flex;
            flex-direction: column;
            padding:0.5rem 0;
        }

        .temp{
            grid-area:temp;
        }

        .min{
            grid-area:mini;
        }

        .max{
            grid-area:maxi;
        }

        .feels{
            grid-area:feels;
        }

        .min::before,
        .max::before,
        .temp::before,
        .feels::before,
        .humidity::before,
        .pressure::before,
        .wind::before,
        .clouds::before{
            background-color:rgb(0, 0, 0, 0.1);
            border:1px solid rgba(0,0,0,0.05);
            border-radius:0.2rem;
            font-weight:bold;
            padding:0.3rem;
            margin-bottom:0.5rem;
            color:var(--whites);
        }

        .min::before{
            content:"min";
        }

        .max::before{
            content:"max";
        }

        .temp::before{
            content:"temperature";
        }

        .feels::before{
            content:"feels like";
        }

        .humidity, 
        .pressure, 
        .wind,
        .clouds{
            text-align:right;
        }
    

        .humidity{
            grid-area: hum;
        }

        .humidity::before{
            content: "humidity";
        }

        .pressure::before{
            content: "pressure";
        }

        .pressure{
            grid-area:press;
        }

        .wind{
            grid-area: windS;
        }

        .wind::before{
            content: "wind speed";
        }

        .winddir{
            grid-area:windO;
        }

        .clouds{
            grid-area:cloudy;
        }

        .clouds::before{
            content: "nebulosity";
        }

        .humidity::before,
        .pressure::before,
        .wind::before,
        .clouds::before{
            margin-right:1rem;
            float:left;
        }

        .image-weather{
            background-color: var(--clear);
            border-radius:13rem;
            padding:1rem;
            position:absolute;
            right:6rem;
            top:0.7rem;
            display:flex;
            color: var(--main);
        }

        .image-wind{
            height:1.5rem;
        }

    }
}

footer{ 
    h2{
        margin:auto;
        width:80vw;
        font-size: 2rem;
        padding:1rem 0;
        text-align:center;
        text-transform:uppercase;
        letter-spacing: 0rem;
        font-style:italic;
        font-weight:bolder;
        color:var(--whites);
        text-shadow: var(--main) 0.2rem 0.2rem 0;
   
    }
}

}




@media screen and (min-width:800px){

    body{ 

        header{
            .ville{
                font-size:5rem;
            }
        }

        main{
            display:grid;
            gap:0.5rem;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(auto-fill 1fr);
            padding: 0 4rem;
    }
}
}

@media screen and (min-width:1200px){

    body{ 

        header{
            .ville{
                font-size:5rem;
            }
        }
        main{
            display:grid;
            gap:0.5rem;
            grid-template-columns: repeat(3,1fr);
            padding: 0 4rem;
            grid-template-rows: repeat(auto-fill, 1fr);

    }
}
}


@media screen and (min-width:1500px){

    body{ 

        header{
            .ville{
                font-size:5rem;
            }
        }
        main{
            display:grid;
            gap:0.5rem;
            grid-template-columns: repeat(4,1fr);
            padding: 0 4rem;
            grid-template-rows: repeat(auto-fill, 1fr);

    }
}
}

@keyframes wigglewigglewiggle{
    from{
        transform:translateX(0);
    }
    to{
        transform: translateX(-1rem);

    }
}
    
@keyframes wigglewigglewiggle2{
    from{
        transform:translateX(-1rem);
    }
    to{
        transform: translateX(0);

    }
}
