@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:ital,wght@1,900&display=swap");
:root {
  --main: rgba(83, 177, 201, 0.562);
  --clear: rgb(236, 236, 236);
  --whites: rgba(255,255,255,1);
}

:root.dark-mode {
  --main: rgba(22, 38, 43, 0.877);
  --clear: rgb(19, 19, 19);
  --whites: rgb(175, 174, 159);
  background-color: black;
  color: var(--whites);
}
:root.dark-mode #darkMode::before {
  content: " ";
  display: block;
  background-color: var(--whites);
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  margin-left: 2.4rem;
  transition: 0.2s;
}
:root.dark-mode .townToCheck {
  background-color: var(--clear);
  color: var(--whites);
  caret-color: var(--whites);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, var(--main), var(--clear));
  font-family: inter;
}
body #darkMode {
  position: absolute;
  top: 1rem;
  left: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  height: 2rem;
  width: 4rem;
  background-color: var(--main);
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
body #darkMode::before {
  content: " ";
  display: block;
  background-color: var(--whites);
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
  transition: 0.2s;
}
body header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body header .ville {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -0.3rem;
  font-style: italic;
  font-weight: bolder;
  color: var(--whites);
  text-shadow: var(--main) 0.2rem 0.2rem 0;
}
body header .ville::before {
  content: " ";
  width: 100%;
  border-radius: 1rem;
  position: relative;
  left: -15%;
  height: 0.5rem;
  background-color: var(--main);
  display: block;
  animation: wigglewigglewiggle 1s infinite alternate-reverse;
}
body header .ville::after {
  content: " ";
  width: 100%;
  border-radius: 1rem;
  position: relative;
  left: 15%;
  height: 0.5rem;
  background-color: var(--main);
  display: block;
  animation: wigglewigglewiggle2 1s infinite alternate-reverse;
}
body header .pays {
  background-color: var(--main);
  color: var(--whites);
  padding: 0.5em;
  border-radius: 0.2rem;
  letter-spacing: 0.2em;
}
body header .townToCheck {
  background-color: var(--whites);
  border: 0;
  padding: 0.5em 1em;
  font-size: 2rem;
  border-radius: 0.3rem;
  min-width: 200px;
  max-width: 80vw;
  caret-color: var(--main);
}
body header .forecast__Button {
  background-color: var(--main);
  border: 0;
  padding: 1rem;
  border-radius: 0.3rem;
  color: var(--whites);
  text-transform: uppercase;
}
body main {
  display: grid;
  gap: 0.5rem;
  grid-template-rows: repeat(auto-fill, 1fr);
  padding: 1rem;
}
body main article {
  background-image: linear-gradient(180deg, var(--main), transparent);
  border: 1px solid rgba(196, 196, 196, 0.3019607843);
  position: relative;
  border-radius: 0.3rem;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-areas: "date date date hour" "temp maxi mini feels" "hum hum press press" "windS windS windO windO" "cloudy cloudy cloudy cloudy";
}
body main article .fullDate {
  color: var(--whites);
  text-align: left;
  grid-area: date;
  background-color: var(--main);
  color: var(--whites);
  padding: 0.5em;
  border-radius: 0.2rem;
  letter-spacing: 0.2em;
}
body main article .time {
  grid-area: hour;
  text-align: right;
  background-color: var(--main);
  color: var(--whites);
  padding: 0.5em;
  border-radius: 0.2rem;
  letter-spacing: 0.2em;
}
body main article .temp, body main article .min, body main article .max, body main article .feels {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
body main article .temp {
  grid-area: temp;
}
body main article .min {
  grid-area: mini;
}
body main article .max {
  grid-area: maxi;
}
body main article .feels {
  grid-area: feels;
}
body main article .min::before,
body main article .max::before,
body main article .temp::before,
body main article .feels::before,
body main article .humidity::before,
body main article .pressure::before,
body main article .wind::before,
body main article .clouds::before {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
  font-weight: bold;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  color: var(--whites);
}
body main article .min::before {
  content: "min";
}
body main article .max::before {
  content: "max";
}
body main article .temp::before {
  content: "temperature";
}
body main article .feels::before {
  content: "feels like";
}
body main article .humidity,
body main article .pressure,
body main article .wind,
body main article .clouds {
  text-align: right;
}
body main article .humidity {
  grid-area: hum;
}
body main article .humidity::before {
  content: "humidity";
}
body main article .pressure::before {
  content: "pressure";
}
body main article .pressure {
  grid-area: press;
}
body main article .wind {
  grid-area: windS;
}
body main article .wind::before {
  content: "wind speed";
}
body main article .winddir {
  grid-area: windO;
}
body main article .clouds {
  grid-area: cloudy;
}
body main article .clouds::before {
  content: "nebulosity";
}
body main article .humidity::before,
body main article .pressure::before,
body main article .wind::before,
body main article .clouds::before {
  margin-right: 1rem;
  float: left;
}
body main article .image-weather {
  background-color: var(--clear);
  border-radius: 13rem;
  padding: 1rem;
  position: absolute;
  right: 6rem;
  top: 0.7rem;
  display: flex;
  color: var(--main);
}
body main article .image-wind {
  height: 1.5rem;
}
body footer h2 {
  margin: auto;
  width: 80vw;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0rem;
  font-style: italic;
  font-weight: bolder;
  color: var(--whites);
  text-shadow: var(--main) 0.2rem 0.2rem 0;
}

@media screen and (min-width: 800px) {
  body header .ville {
    font-size: 5rem;
  }
  body main {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1200px) {
  body header .ville {
    font-size: 5rem;
  }
  body main {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 4rem;
    grid-template-rows: repeat(10, 1fr);
  }
}
@media screen and (min-width: 1500px) {
  body header .ville {
    font-size: 5rem;
  }
  body main {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 4rem;
    grid-template-rows: repeat(10, 1fr);
  }
}
@-webkit-keyframes wigglewigglewiggle {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1rem);
  }
}
@keyframes wigglewigglewiggle {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1rem);
  }
}
@-webkit-keyframes wigglewigglewiggle2 {
  from {
    transform: translateX(-1rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes wigglewigglewiggle2 {
  from {
    transform: translateX(-1rem);
  }
  to {
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */